@use '/src/styles/variables' as v;

.PopUp {
  background-color: v.$primaryColorT;
  border: 1px solid v.$primaryColorDark;
  border-radius: v.$borderRadius;
  font-size: v.$textSize;
  padding: 0.75rem 1rem;
  position: fixed;
  right: 1rem;
  top: 4.5rem;
  width: 25rem;
  z-index: 1;
}
