@use '/src/styles/variables' as v;

.Register {
  background-image: url('../../../assets/images/register_background.avif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  overflow-y: hidden;
  position: relative;
  width: 100%;

  &-content {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(
      5px
    ); /* assure la compatibilité avec safari */
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: v.$borderRadius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;

    &-logo {
      width: 50px;
      height: auto;
    }

    &-title {
      font-size: 1.75rem;
      font-weight: 600;
    }

    &-register {
      font-size: v.$textSize;
      margin-bottom: 0.75rem;

      &-link {
        color: v.$accentColor;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 85%;
      gap: 0.5rem;
      text-align: start;

      label,
      legend {
        font-size: v.$textSize;
        font-weight: 600;
      }

      input {
        padding: 0.5rem;
        border: 1px solid v.$secondaryColor;
        border-radius: v.$borderRadius;
      }

      &-error {
        background-color: rgb(224, 199, 199);
        border-radius: v.$borderRadius;
        color: red;
        font-size: v.$textSize;
        font-weight: 500;
        padding: 0.5rem;
        text-align: center;
        width: 100%;
      }

      button {
        padding: 0.5rem;
        border: none;
        border-radius: v.$borderRadius;
        background-color: v.$primaryColor;
        margin-top: 1rem;
        color: white;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: v.$primaryColorDark;
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        &-row {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          width: 50%;
        }
      }

      &-password {
        position: relative;
        height: fit-content;

        &-input {
          width: 100%;
        }

        &-icon {
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-age {
        margin-top: 0.5rem;
        &-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
          margin-top: 0.25rem;
        }
      }
    }
  }

  &-exit {
    color: white;
    font-size: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  // Handle the line bellow the link element with a cool transition
  &-exit::after {
    content: '';
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
  }

  &-exit:hover::after {
    width: 100%;
  }
}

.Register::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Media Queries */

@media (max-width: v.$tablet) {
  .Register {
    &-content {
      width: 80%;
      padding: 2rem;
    }

    &-form {
      width: 90%;
    }
  }
}

@media (max-width: v.$mobile) {
  .Register {
    &-content {
      width: 90%;
      padding: 1rem;

      &-logo {
        width: 2.5rem;
      }

      &-title {
        font-size: 1.25rem;
      }

      &-register {
        font-size: v.$textSize;
        margin-bottom: 0.25rem;
      }

      &-form {
        width: 90%;

        &-wrapper {
          flex-direction: column;
          gap: 0.25rem;
          &-row {
            width: 100%;
          }
        }
      }
    }
  }
}
