@use '/src/styles/variables' as v;

.FilterButton {
  position: relative;
  &-button {
    display: flex;
    background-color: v.$secondaryColor;
    border: solid 1px v.$secondaryColorDark;
    border-radius: v.$borderRadius;
    color: v.$textColor;
    justify-content: space-between;
    font-size: calc(v.$textSize * 0.8);
    font-weight: 600;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    &:hover {
    }

    &-icon {
      transition: all 0.25s cubic-bezier(0, 1, 0, 1);

      &.show {
        transform: rotate(180deg);
        transition: all 0.25s cubic-bezier(1, 0, 1, 0);
      }
    }
  }

  &-dropdown {
    position: absolute;
    cursor: pointer;
    top: 120%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: v.$borderRadius;
    max-height: 0;
    overflow-y: hidden;
    width: 175%;
    z-index: 9999;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    &.show {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }

    &-option {
      font-size: calc(v.$textSize * 0.8);
      background-color: transparent;
      border: none;
      border-radius: v.$borderRadius;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.75rem;
      text-align: left;
      transition: all 0.25s cubic-bezier(0, 1, 0, 1);

      &:hover {
        background-color: v.$secondaryColor;
      }

      &-icon {
        color: v.$textColor;
        padding: 0.5rem;
        background-color: v.$secondaryColorDark;
        border-radius: v.$borderRadius;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
