@use '/src/styles/variables' as v;

.Header {
  align-items: center;
  background-color: v.$backgroundColor;
  border-bottom: 1px solid v.$backgroundColor;
  display: flex;
  row-gap: 0.75rem;
  height: 4.1rem;
  justify-content: space-between;
  padding: 0.2rem 1.5rem;
  position: sticky;
  top: 0;
  transition: box-shadow 0.5s ease;
  width: 100%;
  z-index: 1001;

  &.scrolled {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: v.$tablet) {
    flex-wrap: wrap;
  }

  @media (max-width: 405px) {
    padding: 0.2rem 0.5rem;
  }

  &-left {
    align-items: center;
    display: flex;
    gap: 1rem;

    &-logo-container {
      @media (max-width: v.$mobile) {
        max-width: 3.7rem;
        overflow: hidden;
      }
    }

    &-logo {
      max-height: 2.25rem;
      order: 1;
      margin: 0.5rem;
    }

    &-openSearch {
      display: none;

      @media (max-width: v.$tablet) {
        display: contents;
      }

      &-icon {
        color: v.$textColor;
        font-size: 1.4rem;

        &:hover {
          color: v.$textColorLight;
        }
      }
    }
  }

  &-form {
    align-self: baseline;
    display: flex;
    margin-top: 0.5rem;
    order: 2;
    width: 50%;

    @media (max-width: v.$tablet) {
      margin-top: 0;
      order: 3;
      width: 100%;
    }

    &-search {
      display: flex;
      flex-direction: column;
      width: 100%;

      // search input location
      input {
        border: 1px solid v.$secondaryColor;
        border-right: none;
        border-radius: v.$borderRadius 0 0 v.$borderRadius;
        font-family: v.$textFont;
        height: 2.5rem;
        padding: 1rem;
        width: 100%;

        &:hover {
          border-color: v.$textColor;
        }

        &::placeholder {
          color: v.$secondaryColor;
          font-size: 1rem;
        }
      }

      &-cities {
        background-color: white;
        border: 1px solid v.$secondaryColor;
        border-radius: v.$borderRadius;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.2rem;
        padding: 0.5rem;
        overflow: hidden;

        &-city {
          background-color: transparent;
          border: none;
          border-radius: v.$borderRadius;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          padding: 0.5rem;
          text-align: left;

          &:hover {
            background-color: v.$secondaryColor;
          }

          &-icon {
            color: v.$textColor;
            padding: 0.5rem;
            background-color: v.$secondaryColorDark;
            border-radius: v.$borderRadius;
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }

    // submit search button
    &-submit {
      background-color: v.$primaryColor;
      border: none;
      color: v.$backgroundColor;
      cursor: auto; // while submit button is not working
      border-radius: 0 v.$borderRadius v.$borderRadius 0;
      height: 2.5rem;
      width: 2.5rem;

      .search-logo {
        color: v.$textColor;
        font-size: 1.25rem;
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: end;
    order: 3;

    @media (max-width: v.$tablet) {
      order: 2;
    }

    &-links {
      align-items: center;
      display: flex;
      font-size: v.$textSize;
      font-weight: 600;
      gap: 1rem;

      .connect:hover {
        color: v.$textColorLight;
      }

      .connect,
      .register {
        align-items: center;
        display: flex;
        height: 2.3rem;
        padding: 0.5rem 1rem;
      }

      .register {
        background-color: v.$accentColor;
        border-radius: v.$borderRadius;
        color: v.$textColor;

        &:hover {
          background-color: v.$accentColorLight;
        }
      }

      .create,
      .profile {
        color: v.$textColorLight;
        transition: color 0.5s ease;

        &-picture-container {
          border: v.$backgroundColorDark solid 1px;
          border-radius: 50%;
          height: 3rem;
          overflow: hidden;
          width: 3rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &:hover {
          color: v.$textColor;
        }
      }

      .create {
        &-icon {
          font-size: 1.25rem;
        }

        align-items: center;
        display: flex;
        gap: 0.3rem;
      }

      .profile {
        align-items: center;
        background-color: v.$backgroundColor;
        border: none;
        display: flex;
        font-size: 1.25rem;
        gap: 0.25rem;
      }
    }
  }

  &-profile {
    background-color: v.$backgroundColor;
    border: 1px solid v.$backgroundColorDark;
    border-radius: calc(v.$borderRadius * 0.5);
    color: v.$textColorLight;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0.15rem;
    position: absolute;
    right: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 2px 0 4px rgba(0, 0, 0, 0.1),
      -2px 0 4px rgba(0, 0, 0, 0.1);
    top: 4.5rem;

    &-profileLink,
    &-logout {
      align-items: center;
      display: flex;
      font-size: v.$textSize;
      gap: 1rem;
      justify-content: space-between;
      padding: 0.5rem 0.75rem;

      &:hover {
        color: v.$textColor;
      }
    }

    &-logout {
      background-color: v.$backgroundColor;
      border: none;
      border-top: 1px solid v.$secondaryColorLight;
      color: v.$textColorLight;
      cursor: pointer;
      font-family: v.$textFont;
    }

    &.closed {
      display: none;
    }
  }
}
